@import url('https://fonts.googleapis.com/css?family=Dekko');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dekko';
    
  
}

body{

      background-image: url("../assets/background.jpg");
}

.search_button{
    height: 60px;
    background-color: #63A2FF;
    border: 0 solid #ffffff;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-weight: 1000;
    justify-content: center;
    line-height: 1.75rem;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    text-shadow: 0 0 3px black;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
    
}
.centralizar{

    display: flex;
    align-items: center;
    justify-content: center;

}
.adjetivos{
    border-style: solid;
    border-color: white;
    border-width: medium;
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: #63A2FF;
    font-size: 20px;
 }

 .adjetivos td, .adjetivos th {
    padding-left: 200px;
    padding-right: 170px;
    text-shadow: 0 0 1px black;
    color: black;
   

  }
  
  .adjetivos tr:nth-child(even){background-color: #afcffe;}
  
  .adjetivos tr:hover {background-color: wheat;}

  .imagem-logo{

        height: 100px;

  }



.search_button:focus {
  outline: 0;
}

.search_button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.search_button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .search_button {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.texto-bordar{

    background-color: #afcffe;
    border-radius: 30px;
    border-style: solid;
    border-width: 10px;
    border-color: #63A2FF;
    width: 800px;

}
  
.texto{

    font-size: 24px;
    padding: 20px;

}


.raccoon-info{

    height: 500px;
    width: 1000px;
    background-color: #63A2FF;
    border-radius: 80px;
    padding: 60px;
    border-width: 10px;
    border-color: white;
    border-style: solid;



}

.raccoon-image{

    width: 350px;
    border-radius: 50%;
    float: left;

}

.raccoon-text{

    padding-top: 80px;
    font-size: 18px;
    padding-left: 40px;
}

.titulo{

    font-size: 50px;
    font-family: 'Gasoek One', sans-serif;
    position: absolute;
    padding-left: 25%;
    color: #f9f05a;
    text-shadow: 0 0 2px black;
}
